.age {
  height: 130px;
  padding: 36px 38px;
}

.select {
  position: relative;
  width: 280px;
  height: 50px;
  padding: 6px 13px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background-color: white;
  font-size: 24px;
  cursor: pointer;
}

.select span {
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: 14px;
  color: #928F94;
}

.option {
  width: 280px;
  height: 48px;
  font-family: Roboto;
font-size: 18px;
font-weight: 400;
  border-radius: 5px;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  padding: 10px;
}

.option:hover {
  background-color: #F4F3F6;
  border: none;
  outline: none;
}